<div class="container-fluid h-100 py-5 d-flex justify-content-center">
  <mat-card class="auth-card p-2 shadow">
    <mat-card-header>
      <mat-card-title class="pb-4">
        <p class="h3 m-0 text-center">Mot de passe oublié</p>
      </mat-card-title>
      <mat-card-subtitle class="pb-4">
        <p class="text-justify">Vous avez oublié votre mot de passe ? Renseignez l'adresse mail associée à votre compte, nous vous envoyons un lien pour réinitialiser votre mot de passe.</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- Form -->
      <form [formGroup]="this.form" (ngSubmit)="this.onSubmit()" class="d-flex flex-column">
        <!-- email -->
        <mat-form-field appearance="outline" class="py-2">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName="email" required>
          <mat-icon matPrefix>email</mat-icon>
          <mat-error *ngIf="this.form.controls.email.touched && this.form.controls.email.invalid">
            <span *ngIf="this.form.controls.email.errors?.['required']">Veuillez saisir un email.</span>
            <span *ngIf="this.form.controls.email.errors?.['email']">Veuillez saisir un email valide.</span>
          </mat-error>
        </mat-form-field>
        <!-- submit -->
        <div class="d-flex justify-content-center">
          <button mat-raised-button class="mb-2 py-4" color="primary" type="submit">
            <mat-icon>near_me</mat-icon>
            <span>Valider</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
