/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

html, body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    overflow: auto;
    scrollbar-gutter: stable;
}

header {
    min-width: 320px;
}

footer {
    min-width: 320px;
}