/* body {
  min-width: 300px;
}

footer{
  position: absolute;
  height: auto;
  width: 100%;
  min-width: 420px;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-content h3{
  color: #8EA37A;
  font-size: 1.8rem;
  font-weight: 500;
  text-transform: capitalize;
  padding-top: 10px;
}
.footer-content p{
  max-width: 500px;
  line-height: 10px;
  font-size: 14px;
}

.socials{
  list-style: none;
  display: inline-block;
  font-size: 20px;
  padding-top: 5px;
}

.socials li{
  display: inline;
}

.colorScial{
  color: #8EA37A;
}

.colorScial:hover{
  color: black;
} */
