
<footer class="footer border-top bg-gray-light">
  <div class="d-flex flex-column align-items-center py-4">
    <p class="h5 text-center">
      {{ this.title }} &copy; {{ this.currentYear }}
    </p>
    <p class="h7 text-center">Rejoignez-nous sur nos différents réseaux sociaux</p>
    <div class="d-flex flex-row">
      <button mat-icon-button>
        <i class="bi bi-facebook"></i>
      </button>
      <button mat-icon-button>
        <i class="bi bi-instagram"></i>
      </button>
      <button mat-icon-button>
        <i class="bi bi-youtube"></i>
      </button>
      <button mat-icon-button>
        <i class="bi bi-twitter-x"></i>
      </button>
    </div>
  </div>
</footer>