<footer class="footer border-top text-center">
  <div class="bg-secondary-subtle">
    <div class="footer-content">
      <h3>MyGroots</h3>
      <p>Rejoignez nous sur nos différents réseaux !</p>
      <ul class="socials px-0">
        <li><a class="colorScial" href=""><i class="bi bi-facebook d-inline px-2"></i></a></li>
        <li><a class="colorScial" href=""><i class="bi bi-instagram d-inline px-2"></i></a></li>
        <li><a class="colorScial" href=""><i class="bi bi-youtube d-inline px-2"></i></a></li>
        <li><a class="colorScial" href=""><i class="bi bi-twitter d-inline px-2"></i></a></li>
      </ul>
    </div>
    <div class="py-2">
      <p>Copyright &copy;2023 MyGroots. Designed by <span class="text-secondary">MyGroots TEAM</span></p>
    </div>
  </div>
</footer>
