@import "src/styles.css";

#tree {
  height: 83vh;
}

:host ::ng-deep .node.male>rect {
  fill: var(--color-blue-pale);
}

:host ::ng-deep .node.female>rect {
  fill: var(--color-pink);
}

.button-group {
  display: flex;
  justify-content: center;
}

/*
:host ::ng-deep .bft-edit-form-header .bft-edit-form.node.male,
:host ::ng-deep .bft-edit-form.node.male .bft-img-button{
  background-color: #FFCA28;
}

:host ::ng-deep .bft-edit-form-header .bft-edit-form.node.female,
:host ::ng-deep .bft-edit-form.node.female .bft-img-button{
  background-color: #FFCA28;
} */

:host ::ng-deep .field_0 {
  font-family: Impact;
  text-transform: uppercase;
  fill: black;
}
