<div class="container-fluid h-100">
  <!-- <div class="container mt-3 col-xl-8 px-4 py-5 my-5">
    <div class="pt-5">
      <div class="row flex-lg-row-reverse justify-content-between align-items-center g-5 py-5 mb-4">
        <div id="img1" class="col-10 col-sm-8 col-lg-4 mx-auto px-lg-4 py-lg-4 rounded-4 h-50">
          <img src="assets/images/mygroots-gradient-logo.png" alt="Logo" class="d-block my-auto mx-lg-auto img-fluid" loading="lazy">
        </div>
        <div class="col-lg-6 text-center text-lg-end text-xl-end">
          <h1 class="display-5 fw-bold lh-1 mb-3">
            DECOUVREZ MyGroots !
          </h1>
          <p class="lead my-4">
            MyGroots est un site de fitness vous aidants dans vos objectifs.
            Nous offrons de nombreux outils pour vous faire gagner du temps.
            Ne stressez plus pendant vos repas, nous sommes là pour vous.
          </p>
          <div class=" mx-auto my-5 text-center">
            <a href="" class="">
              <button class="button button1">Rechercher une famille</button>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="">
      <div class="row flex-lg-row align-items-center g-5 py-5 mb-4">
        <div class="col-10 col-sm-8 col-lg-6 mx-auto">
          <img src="https://cloudfront-eu-central-1.images.arcpublishing.com/leparisien/JAVQMPEJ6ZGS7HGZ45HF5EQDI4.jpg" class="d-block mx-lg-auto img-fluid rounded-4 "
               alt="nutrition" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6 text-center text-lg-start text-xl-start">
          <h1 class="display-5 fw-bold lh-1 mb-3">
            Crée ton arbre généalogique
          </h1>
          <p class="lead my-4">
            Donnez-nous vos caractéristiques physiques et laissez-nous faire le reste !
            FAToFIT calcule votre apport calorique journalier nécessaire et vous créé un programme
            alimentaire sur-mesure selon vos objectifs.
          </p>
        </div>
      </div>
    </div>

    <div id="third-box" class="px-4 pt-5 my-4 text-center">
      <h1 class="display-4 fw-bold">
        A toi de jouer !
      </h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead my-4">
          Inscrivez vos entraînements pour connaître vos calories dépensées.
          Créez vous un programme dans le calendrier.
        </p>
      </div>
      <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
          <img src="https://www.radiofrance.fr/s3/cruiser-production/2020/11/5c804474-68ea-4b58-8fa9-743d1b814fe4/1200x680_gettyimages-1173539611.webp" class="img-fluid border rounded-3 shadow-lg mb-4"
               alt="arbre" width="1200" height="700" loading="lazy">
        </div>
      </div>
    </div>
  </div> -->
</div>
