<header class="header border-bottom">
  <mat-toolbar class="justify-content-between flex-nowrap bg-white">
    <!-- Left side of header -->
    <div class="header-content-left d-flex flex-row align-items-center">
      <button mat-button [routerLink]="['/home']" class="me-2">
        <h1>{{ this.title }}</h1>
      </button>
      <div class="d-md-block d-none">
        <!-- Navbar -->
        <nav class="nav d-flex flex-row">
          <button mat-button *ngFor="let item of this.navItems" class="mt-1" type="button">
            <span [routerLink]="item.link" routerLinkActive="active">{{ item.name }}</span>
          </button>
        </nav>
      </div>
    </div>
    <!-- Right side of header -->
    <div class="header-content-right">
      <!-- If not logged in -->
      <div *ngIf="!this.isLoggedIn">
        <div class="d-md-none">
          <button mat-icon-button (click)="this.onToggleSidenav()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="d-md-block d-none">
          <button mat-raised-button [routerLink]="['/auth/login']">Connexion</button>
          <button mat-raised-button class="bg-green-light ms-2" [routerLink]="['/auth/register']">Inscription</button>
        </div>
      </div> 
      <!-- If logged in -->
      <div *ngIf="this.isLoggedIn">
        <div class="d-md-none">
          <button mat-icon-button (click)="this.onToggleSidenav()">
            <mat-icon>menu</mat-icon>
          </button>
        </div>
        <div class="d-md-block d-none">
          <button mat-raised-button class="bg-green-light" (click)="this.logout()">Deconnexion</button>
        </div>
      </div>
    </div>
  </mat-toolbar>
</header>
