.button {
  background-color: #8EA37A;
  border: none;
  color: white;
  padding: 3px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 30px;
}

.button1 {
  background-color: #8EA37A;
  color: white;
  border: 2px solid #FFFFFF;
}

.button1:hover {
  background-color: #FFFFFF;
  color: #8EA37A;
}

.user-icon{
  color: #FFFFFF;
  padding-right: 10px;

}

.user-icon:hover{
  color: black;
}
