<header class="header border">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
    <img src="{{ logo }}" alt="MyGroots-logo" width="100" height="100">
      <a class="navbar-brand fs-4" routerLink="/home">MyGroots</a>
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngFor="let item of navItems">
          <a class="nav-link" routerLink="{{ item.link }}" routerLinkActive="active">{{ item.title }}</a>
        </li>
      </ul>
      </div>
    </div>
  </nav>
</header>
