<header>
  <nav class="navbar navbar-expand-lg text-white" style="background-color: #8EA37A">
    <div class="container-fluid">
      <a class="navbar-brand text-white" href="#"><strong>MyGroots</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Arbre</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" routerLink="/profile">Mon profil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Link</a>
          </li>
        </ul>
        <div class="d-flex">
          <div *ngIf="!this.isLoggedIn">
            <button class="button button1" routerLink="/auth/login">Connexion</button>
            <button class="button button1" routerLink="/auth/register">Inscription</button>
          </div>
          <div *ngIf="this.isLoggedIn">
            <a routerLink="/auth/register"><i class="bi bi-person-circle user-icon h3"></i></a>
            <button class="button button1" routerLink="/auth/register">Deconnexion</button>
            <!--Profile icon, link to profile page-->
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
