@import "src/styles.css";

::ng-deep .mat-mdc-tab-group.mat-primary .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
::ng-deep .mat-mdc-tab-group.mat-primary .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
::ng-deep .mat-mdc-tab-nav-bar.mat-primary .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label,
::ng-deep .mat-mdc-tab-nav-bar.mat-primary .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label {
  color: var(--color-green-dark) !important;
}

::ng-deep .mat-mdc-tab-group.mat-primary .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
::ng-deep .mat-mdc-tab-group.mat-primary .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
::ng-deep .mat-mdc-tab-nav-bar.mat-primary .mat-mdc-tab:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline,
::ng-deep .mat-mdc-tab-nav-bar.mat-primary .mat-mdc-tab-link:not(.mat-mdc-tab-disabled) .mdc-tab-indicator__content--underline {
  border-color: var(--color-green-dark) !important;
}

::ng-deep .mat-mdc-tab-group.mat-primary .mdc-tab__ripple::before,
::ng-deep .mat-mdc-tab-group.mat-primary .mat-mdc-tab .mat-ripple-element,
::ng-deep .mat-mdc-tab-nav-bar.mat-primary .mat-mdc-tab-header-pagination .mat-ripple-element,
::ng-deep .mat-mdc-tab-nav-bar.mat-primary .mat-mdc-tab-link .mat-ripple-element {
  color: var(--color-green-dark) !important;
}

::ng-deep [aria-selected="false"] .mdc-tab-indicator__content {
  opacity: 0.1 !important;
}
