<div class="flex-grow-1">
  <mat-card>
    <!-- Tabs -->
    <mat-tab-group color="primary" animationDuration="500ms">
      <!-- search by Name -->
      <mat-tab label="RECHERCHE PAR NOM">
        <mat-card-content class="px-4 py-4">
          <!-- formByName -->
          <form  (ngSubmit)="this.searchOnSubmit()" class="d-flex flex-column">
            <div class="d-flex flex-md-row flex-column">
              <!-- id -->
              <mat-form-field appearance="outline" class="flex-grow-1 py-2 pe-md-2">
                <mat-label>Id de la personne</mat-label>
                <input matInput formControlName="src_id" type="text">
              </mat-form-field>
            </div>
            <!-- Relation -->
            <mat-form-field appearance="outline" class="py-2">
              <mat-label>Relation</mat-label>
              <!-- <input matInput formControlName="nationality" type="text" required> -->
              <mat-select matNativeControl formControlName="relation" required>
                <mat-option *ngFor="let relation of this.relations" [value]="relation.value">{{ relation.viewValue }}</mat-option>
              </mat-select>
              <mat-icon matPrefix>public</mat-icon>
              <mat-error *ngIf="this.formSearch.controls.relation.touched && this.formSearch.controls.relation.invalid">
                <span *ngIf="this.formSearch.controls.relation.hasError('required')">Veuillez saisir une relation.</span>
              </mat-error>
            </mat-form-field>
            <!-- Submit -->
            <div class="d-flex flex-row-reverse">
              <button mat-raised-button class="bg-green-dark mt-2 py-4 rounded-1" type="submit">
                <mat-icon class="text-white">search</mat-icon>
                <span class="text-white">Recherche</span>
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
