<div class="flex-grow-1" style="margin-bottom: 10px">
  <mat-card class="mx-5 mt-lg-5">
    <!-- Tabs -->
    <mat-tab-group color="primary" animationDuration="500ms" (selectedTabChange)="this.submit()">
      <!-- search by Name -->
      <mat-tab label="RECHERCHE PAR NOM">
        <mat-card-content class="px-4 py-4">
          <!-- formByName -->
          <form  (ngSubmit)="this.submit()" class="d-flex flex-column">
            <div class="d-flex flex-md-row flex-column">
              <!-- firstName -->
              <mat-form-field appearance="outline" class="flex-grow-1 py-2 pe-md-2">
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="firstName" type="text">
              </mat-form-field>
              <!-- lastName -->
              <mat-form-field appearance="outline" class="flex-grow-1 py-2 ps-md-2">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="lastName" type="text">
              </mat-form-field>
            </div>
            <!-- Relation -->
            <mat-form-field appearance="outline" class="py-2">
              <mat-label>Relation</mat-label>
              <!-- <input matInput formControlName="nationality" type="text" required> -->
              <mat-select matNativeControl formControlName="relation" required>
                <mat-option *ngFor="let relation of this.relations" [value]="relation">{{ relation }}</mat-option>
              </mat-select>
              <mat-icon matPrefix>public</mat-icon>
              <mat-error *ngIf="this.formSearch.controls.relation.touched && this.formSearch.controls.relation.invalid">
                <span *ngIf="this.formSearch.controls.relation.hasError('required')">Veuillez saisir une relation.</span>
              </mat-error>
            </mat-form-field>
            <!-- Submit -->
            <div class="d-flex flex-row-reverse">
              <button mat-raised-button class="bg-green-dark mt-2 py-4 rounded-1"  type="submit">
                <mat-icon class="text-white">search</mat-icon>
                <span class="text-white">Recherche</span>
              </button>
            </div>
          </form>
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>
  </mat-card>
</div>
