<div class="container-fluid h-100 m-0 p-0" style="background: linear-gradient(var(--color-green-dark), var(--color-green-light));">
  <div class="h-100 d-flex flex-column flex-grow-1">
    <div class="d-flex flex-lg-row flex-column">
      <!-- Div de texte -->
      <div class="d-flex flex-column justify-content-center align-self-center pt-5 pb-2">
        <p class="h2 mb-4 text-center text-white">
          Un arbre généalogique pour la famille humaine
        </p>
        <p class="lead mb-4 px-5 text-center lh-base text-white">
          Effectuez une recherche dans l’arbre généalogique collaboratif le plus grand au monde. Trouvez des ancêtres et découvrez vos liens de parenté.
        </p>
      </div>
      <!-- Div de recheche -->
      <div class="flex-grow-1">
        <mat-card class="mx-5 mt-lg-5">
          <!-- Tabs -->
          <mat-tab-group color="primary" animationDuration="500ms" (selectedTabChange)="this.clearResults()">
            <!-- search by Name -->
            <mat-tab label="RECHERCHE PAR NOM">
              <mat-card-content class="px-4 py-4">
                <!-- formByName -->
                <form [formGroup]="this.formByName" (ngSubmit)="this.onSubmitByName()" class="d-flex flex-column">
                  <div class="d-flex flex-md-row flex-column">
                    <!-- firstName -->
                    <mat-form-field appearance="outline" class="flex-grow-1 py-2 pe-md-2">
                      <mat-label>Prénom</mat-label>
                      <input matInput formControlName="firstName" type="text">
                    </mat-form-field>
                    <!-- lastName -->
                    <mat-form-field appearance="outline" class="flex-grow-1 py-2 ps-md-2">
                      <mat-label>Nom</mat-label>
                      <input matInput formControlName="lastName" type="text">
                    </mat-form-field>
                  </div>
                  <!-- birthDate -->
                  <mat-form-field appearance="outline" class="py-2">
                    <mat-label>Date de naissance</mat-label>
                    <input matInput [matDatepicker]="birthDate" formControlName="birthDate" placeholder="MM/DD/YYYY">
                    <mat-datepicker-toggle matIconSuffix [for]="birthDate" matTooltip="Ouvrir le calendrier"></mat-datepicker-toggle>
                    <mat-datepicker #birthDate></mat-datepicker>
                  </mat-form-field>
                  <!-- Submit -->
                  <div class="d-flex flex-row-reverse">
                    <button mat-raised-button class="bg-green-dark mt-2 py-4 rounded-1" [disabled]="!this.formByName.valid" type="submit">
                      <mat-icon class="text-white">search</mat-icon>
                      <span class="text-white">Recherche</span>
                    </button>
                  </div>
                </form>
              </mat-card-content>
            </mat-tab>
            <!-- search by Id -->
            <mat-tab label="RECHERCHE PAR IDENTIFIANT">
              <mat-card-content class="px-4 py-4">
                <!-- formById -->
                <form [formGroup]="this.formById" (ngSubmit)="this.onSubmitById()" class="d-flex flex-column">
                  <!-- accountId -->
                  <mat-form-field appearance="outline" class="flex-grow-1 py-2">
                    <mat-label>Numéro d'identification</mat-label>
                    <input matInput formControlName="accountId" type="text">
                    <mat-hint>Le numéro d'identification d'un compte est unique.</mat-hint>
                  </mat-form-field>
                  <!-- Submit -->
                  <div class="d-flex flex-row-reverse">
                    <button mat-raised-button class="bg-green-dark mt-2 py-4 rounded-1" [disabled]="!this.formById.valid" type="submit">
                    <mat-icon class="text-white">search</mat-icon>
                    <span class="text-white">Recherche</span>
                    </button>
                  </div>
                </form>
              </mat-card-content>
            </mat-tab>
            <!-- commun search -->
            <mat-tab label="RECHERCHE COMMUNUNE">
              <mat-card-content class="px-4 py-4">
                <form [formGroup]="this.formByCommunId" (ngSubmit)="this.communSearch()" class="d-flex flex-column">
                  <!-- accountId -->
                  <mat-form-field appearance="outline" class="flex-grow-1 py-2">
                    <mat-label>Numéro d'identification</mat-label>
                    <input matInput formControlName="target_id" type="text">
                    <mat-hint>Le numéro d'identification d'une personne est unique.</mat-hint>
                  </mat-form-field>
                  <!-- Submit -->
                  <div class="d-flex flex-row-reverse">
                    <button mat-raised-button class="bg-green-dark mt-2 py-4 rounded-1" [disabled]="!this.formByCommunId.valid" type="submit">
                      <mat-icon class="text-white">search</mat-icon>
                      <span class="text-white">Recherche</span>
                    </button>
                  </div>
                </form>
              </mat-card-content>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
      </div>
    </div>
    <!-- Div de resultat -->
    <div class="d-flex flex-column flex-grow-1 bg-white rounded-2 mx-5 mt-2 px-4 pb-4" *ngIf="this.showResults">
      <mat-divider></mat-divider>
      <div class="d-flex flex-column py-4">
        <span class="h4" *ngIf="this.searchResults.length > 0">
          Résultats ({{ this.searchResults.length }})
        </span>
        <span class="h4" *ngIf="this.searchSame.length > 0">
          Résultats ({{ this.searchSame.length }}) commun
        </span>
        <span class="h4" *ngIf="this.searchResults.length <= 0 && this.searchSame.length <= 0 && this.searchProbablySame.length <= 0">
          Aucun résultat (0)
        </span>
      </div>
      <!-- Liste des personnes -->
      <mat-accordion>
        <app-search-result *ngFor="let result of this.searchResults" [account]="result"></app-search-result>
      </mat-accordion>
      <mat-accordion>
        <app-search-result *ngFor="let result of this.searchSame" [account]="result"></app-search-result>
      </mat-accordion>

      <span class="h4" *ngIf="this.searchProbablySame.length > 0">
          Résultats ({{ this.searchProbablySame.length }}) probablement commun
        </span>
      <mat-accordion *ngIf="this.searchProbablySame.length > 0">
        <app-search-result *ngFor="let result of this.searchProbablySame" [account]="result"></app-search-result>
      </mat-accordion>
    </div>
    <div class="my-4">
      <img src="assets/images/search.svg" alt="Recherche" class="img-fluid mx-4">
    </div>
  </div>
</div>
