.button-group {
  display: flex;
  justify-content: left;
  margin-top: 10px;
}

.centered-text {
  font-size: 30px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mat-card {
  margin-bottom: 15px;
}


