<div class="container-fluid h-100 py-5 d-flex justify-content-center"  style="background-image: url(&quot;https://edge.fscdn.org/assets/static/media/background.d90d09caeeaa982055d5633bb48611db.svg&quot;); background-size: cover;">
  <mat-card class="auth-card p-2 shadow">
    <mat-card-header>
      <mat-card-title class="pb-4">
        <p class="h3 m-0 text-center">Changement de mot de passe</p>
      </mat-card-title>
      <mat-card-subtitle class="pb-4">
        <p>Choisissez un nouveau mot de passe. Celui-ci remplacera l'ancien mot de passe.</p>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- Form -->
      <form [formGroup]="this.form" (ngSubmit)="this.onSubmit()" class="d-flex flex-column">
        <!-- password -->
        <mat-form-field appearance="outline" class="py-2">
          <mat-label>Nouveau mot de passe</mat-label>
          <input matInput formControlName="password" [type]="this.hidePassword ? 'password' : 'text'" required>
          <mat-icon matPrefix>lock</mat-icon>
          <button mat-icon-button matSuffix (click)="this.hidePassword = !this.hidePassword" type="button">
            <mat-icon>{{ this.hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="this.form.controls.password.touched && this.form.controls.password.invalid">
            <span *ngIf="this.form.controls.password.hasError('required')">Veuillez saisir un mot de passe.</span>
          </mat-error>
        </mat-form-field>
        <!-- submit -->
        <div class="d-flex justify-content-center">
          <button mat-raised-button class="bg-green-light mb-2 py-4" type="submit">
            <mat-icon>near_me</mat-icon>
            <span>Valider</span>
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
  