<div class="container-fluid h-100 py-5 d-flex justify-content-center">
  <mat-card class="auth-card p-2 shadow">
    <mat-card-header>
      <mat-card-title class="pb-4">
        <p class="h3 m-0 text-center">Changement de mot de passe</p>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- Form -->
      <form [formGroup]="this.form" (ngSubmit)="this.onSubmit()">
        <!-- password -->
        <mat-form-field appearance="outline" class="py-2">
          <mat-label>Mot de passe</mat-label>
          <input matInput formControlName="password" [type]="this.hidePassword ? 'password' : 'text'" required>
          <mat-icon matPrefix>lock</mat-icon>
          <button mat-icon-button matSuffix (click)="this.hidePassword = !this.hidePassword" type="button">
            <mat-icon>{{ this.hidePassword ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="this.form.controls.password.touched && this.form.controls.password.invalid">
            <span *ngIf="this.form.controls.password.errors?.['required']">Veuillez saisir un mot de passe.</span>
          </mat-error>
        </mat-form-field>
        <!-- password confirm -->
        <mat-form-field appearance="outline" class="py-2">
          <mat-label>Confirmer mot de passe</mat-label>
          <input matInput formControlName="passwordConfirm" [type]="this.hidePasswordConfirm ? 'password' : 'text'" required>
          <mat-icon matPrefix>lock</mat-icon>
          <button mat-icon-button matSuffix (click)="this.hidePasswordConfirm = !this.hidePasswordConfirm" type="button">
            <mat-icon>{{ this.hidePasswordConfirm ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error *ngIf="this.form.controls.passwordConfirm.touched && this.form.controls.passwordConfirm.invalid">
            <span *ngIf="this.form.controls.passwordConfirm.errors?.['required']">Veuillez saisir un mot de passe.</span>
          </mat-error>
        </mat-form-field>
        <!-- submit -->
      </form>
    </mat-card-content>
  </mat-card>
  </div>
  